body {
  margin: 0;
}

.header {
  background-color: #41695b;
  margin-bottom: 20px;
  height: 50px;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 10;
}

.testing-wrapper {
  width: 100%;
  padding-top: 100px;

  @media only screen and (min-width: 768px) {
    max-width: 600px;
    margin: 0 auto;
  }

  @media only screen and (min-width: 1200px) {
    max-width: 1000px;
    margin: 0 auto;
  }
}

.testing {

  &__item {
    opacity: 0.3;
    pointer-events: none;
    margin-bottom: 20px;
    font-size: 20px;

    &-btn {
      height: 40px;
      font-size: 16px;
      background-color: #0b635f;
      color: white;
      font-weight: bold;
      border: none;
      width: 150px;
      cursor: pointer;

      &:hover {
        background-color: #41695b;
        transition: all 0.3s;
      }

      &:active, &:focus {
        border: none;
        outline: none;
      }
    }
  }

  &__item.active {
    opacity: 1;
    pointer-events: all;
  }

  &__question {
    margin-bottom: 20px;
  }

  &__answers {
    margin-bottom: 10px;
    padding-left: 15px;

    &-item {
      margin-bottom: 20px;

      input {
        display: none;

        &:checked + label {
          &:before {
            border-color: green;
          }

          &:after {
            content: '';
            position: absolute;
            left: 6px;
            top: 6px;
            width: 10px;
            height: 10px;
            background-color: green;
            border-radius: 50%;
          }
        }
      }

      label {
        position: relative;
        padding-left: 30px;
        cursor: pointer;

        &:before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          display: inline-block;
          width: 18px;
          height: 18px;
          border-radius: 50%;
          border: 2px solid grey;
        }
      }
    }
  }
}

.open-test {
  text-align: center;

  &__btn {
    height: 50px;
    border-radius: 5px;
    background-color: cadetblue;
    color: white;
    border: none;
    width: 200px;
    font-size: 16px;
    cursor: pointer;

    &_load {
      opacity: 0.5;
      pointer-events: none;
    }
  }
}

.testing-timer {
  position: absolute;
  right: 0;
  top: 0;
  width: 50px;
  height: 50px;
  background-color: rgba(#1f2b27, 0.4);
  color: white;
  font-size: 18px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

.indicator-answers {
  height: 50px;
  display: flex;
  align-items: center;
  padding: 0 50px 0 10px;
  flex-wrap: wrap;

  &__item {
    width: 30px;
    height: 30px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: black;
    margin: 5px;
    border-radius: 2px;
    border: 1px solid transparent;
    font-size: 16px;
  }

  &__item.true {
    background-color: green;
    color: white;
    border: 1px solid white;
  }

  &__item.false {
    background-color: red;
    color: white;
    border: 1px solid white;
  }

  &__item.late {
    background-color: #D88C13;
    color: white;
    border: 1px solid white;
  }
}

.popup{
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;

  &-overlay{
    z-index: 100;
    background-color: rgba(0,0,0,0.5);
    height: 100%;
    width: 100%;
  }

  &__wrapper{
    width: 100%;
    max-width: 320px;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    position: absolute;
    z-index: 101;
    background-color: white;
    color: black;
    padding: 30px;
    text-align: center;
  }

  &__title{
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: bold;
  }

  &__message{
    font-size: 16px;
    margin-bottom: 20px;
  }

  &__btn{
    display: inline-block;
    padding: 10px 20px;
    background-color: cadetblue;
    color: white;
    font-size: 16px;
    text-decoration-line: none;
  }
}