body {

}

.testing {
  &__item {
    opacity: 0.3;
    pointer-events: none;
    margin-bottom: 10px;
  }

  &__item.active {
    opacity: 1;
    pointer-events: all;
  }

  &__question {

  }

  &__answers {

    &-item {

    }
  }
}

.indicator-answers {
  &__item {
    width: 20px;
    height: 20px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: lightgrey;
    color: black;
    margin: 5px;
  }

  &__item.true {
    background-color: green;
  }

  &__item.false {
    background-color: red;
  }
}